background-image: url("https://media3.giphy.com/media/JjrDsvilNKgw0/200.webp?cid=ecf05e47soy2cr8jnktbsj450xxy1umlxi4ckhem2g77axnr&rid=200.webp&ct=g");
background-size: 100%;
background-repeat: repeat-y;
background-attachment: fixed;
background-size:cover;
color:white;
font-family:Sans-Serif;
margin:0;
}

.head {
display:flex;
justify-content:center;
text-align:center;
font-weight:bold;
font-size:60px;
top:20%
left:35%;
margin-top:60px;
margin-bottom:10px;
}
{
box-sizing:border-box;
margin:0;
padding:0;
}

.hero {
display:flex;
justify-content:center;
align-items:center;
height:60vh;
}
{
margin:0;
box-sizing:border-box;
padding:0;
}

.container {
background-color:rgba(0, 0, 0, 0.816);
width:100%;
max-width:420px;
position:relative;
padding:30px;
border-radius:12px;
top:20%;
}
{
box-sizing:border-box;
margin:0px;
}

.place {
font-weight:bold;
font-size:30px;
font-family:serif;
}

.icon {
display:flex;
}
{
box-sizing:border-box;
margin:0px;
padding:0px;
}

.search-bar {
padding:20px;
border-radius:10px;
border-top-right-radius:0px;
border-buttom-right-radius:0px;
border:none;
background-color:#272626d0;
outline:none;
color:white;
}
{
margin:0;
box-sizing:border-box;
}

.enter {
color:white;
padding:25px;
border-radius:16px;
border-top-left-radius:0px;
border-bottom-left-radius:0px;
background-color:rgb(29, 155, 2);
border:none;
outline:none;
cursor:pointer;
}
{
margin:0;
box-sizing:border-box;
}
