body {
    background-image: url("https://media.tenor.com/PlH9xGOd0kEAAAAC/da-rain.gif");
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    color: white;
}

.head {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.816);
    width: 100%;
    max-width: 420px;
    position: relative;
    padding: 30px;
    border-radius: 12px;
    top: 20%;
    box-sizing: border-box;
    margin: 0px;
}